#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.games {
  display: flex;
  gap: 5vw;
}

.one-p, .two-p {
  width: 50%;
}

.game-card {
  border: 2px grey solid;
  border-radius: 10px;
  transition: 0.3s;
  width: 40%;
  aspect-ratio: 1;
  margin: 5px;
}

.game-card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s;
}

.go-back {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: transparent;
  color: white;
}

.go-back:hover,
.go-back:focus,
.go-back:active {
  border: none;
  outline: none;
  box-shadow: none;
}

.title {
  color: white;
}